option_settings:
  aws:elasticbeanstalk:application:environment:
    ENVIRONMENT: production
    DEBUG: false
    PYTHONPATH: /var/app/current
    
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
    SecurityGroups: web-tier
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role

  aws:ec2:vpc:
    VPCId: vpc-01e3e89c08455921c
    Subnets: subnet-016b3c4d251c11981
    ELBSubnets: subnet-016b3c4d251c11981

  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role
    LoadBalancerType: application

  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced