option_settings:
  aws:elasticbeanstalk:application:environment:
    ENVIRONMENT: production
    DEBUG: false
    PYTHONPATH: /var/app/venv/staging-LQM1lest/bin

  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role
    LoadBalancerType: application

  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced