option_settings:
  aws:elasticbeanstalk:application:environment:
    ENVIRONMENT: production
    DEBUG: false
    PYTHONPATH: /var/app/venv/staging-LQM1lest/bin

  aws:ec2:vpc:
    VPCId: ${VPC_ID}
    Subnets: ${SUBNET_ID_1},${SUBNET_ID_2}
  
  aws:autoscaling:launchconfiguration:
    SecurityGroups: ${SECURITY_GROUP_ID}

  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role
    LoadBalancerType: application

  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced